.main{
    border: 1px solid #eee;
    padding: 3rem;
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.results{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.resultsChild{
    border: 1px solid #eee;
    width: 800px;
    padding: 5rem;
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}